<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring-Backend-Spring-Boot-Run" type="MavenRunConfiguration" factoryName="Maven">
    <MavenSettings>
      <option name="myGeneralSettings" />
      <option name="myRunnerSettings" />
      <option name="myRunnerParameters">
        <MavenRunnerParameters>
          <option name="profiles">
            <set />
          </option>
          <option name="goals">
            <list>
              <option value="spring-boot:run" />
              <option value="-Drun.jvmArguments=-Dhttps.proxyHost=proxyws.ju.globaz.ch -Dhttps.proxyPort=8080 -Dhttp.proxyHost=proxyws.ju.globaz.ch -Dhttp.proxyPort=8080" />
            </list>
          </option>
          <option name="profilesMap">
            <map />
          </option>
          <option name="resolveToWorkspace" value="false" />
          <option name="workingDirPath" value="$PROJECT_DIR$/spring-backend-application" />
        </MavenRunnerParameters>
      </option>
    </MavenSettings>
    <method />
  </configuration>
</component>